/* HEADER */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    width: 100%;   /*position:fixed*/
    padding: 1%;
    gap: 10px;
    color: #fff;
    background-image: linear-gradient(to bottom right, #3498db, #2ecc71);
    align-items: center; /* Alinha os itens ao centro verticalmente */
}
p{
    margin-left: 18%;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
.icone a{
    color: #fff;
}
.menu{
    margin-left: 13%;
}
.menu a{
    padding-left: 50px;  
    text-decoration: none;
    font-size: 22px; 
    color: #fff;
}
.menu a:hover{
    color: rgb(54, 9, 138);
    text-decoration:underline;
}

/* PAGINA LOGIN*/
.login{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 400px;
    background-image: linear-gradient(to bottom right, #3498db, #2ecc71);
    border-radius: 7px;
}
.forms{
    width: 50%;
    height: 400px;
    color: #fff;
}
.forms h1{
    text-align: center;
    margin-bottom: 40px;
}
.forms form{
    margin-left: 20%;
}
.forms button{
    margin-top: 25px;
    background-color: blue;
    color:#fff;
    text-decoration: none;
}
input{
    width: 370px;
    height: 22px;
    border-radius: 5px;
    border-color: #1a9e9e;
    outline: none;
}
input:hover{
    border-color:#1fb5b5;
}
label{
    margin-top: 20px;
    display: block;
}
.login img{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 50%;
}

